[submodule "repos/gradcache"]
	path = repos/gradcache
	url = git@github.com:white-richard/GradCache.git
	branch = main
[submodule "repos/perception_models"]
	path = repos/perception_models
	url = https://github.com/facebookresearch/perception_models.git
	branch = main
[submodule "repos/vlm2vecv2"]
	path = repos/vlm2vecv2
	url = https://github.com/TIGER-AI-Lab/VLM2Vec.git
	branch = main
