python-lsp-server
absl-py
accelerate
addict
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
attrdict
attrs
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
chardet
charset-normalizer
click
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
colorama
comm
cycler
Cython
debugpy
decorator
defusedxml
dill
docker-pycreds
einops
exceptiongroup
executing
fastjsonschema
filelock
flash-attn
flatbuffers
fonttools
fqdn
fsspec
ftfy
gast
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googletrans
grpcio
h11
h2
h5py
hpack
hpargparse
hpman
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
imageio
importlib_metadata
importlib_resources
ipykernel
ipython
ipython-genutils
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab_pygments
keras
Keras-Preprocessing
kiwisolver
libclang
llava
lmdb
loguru
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mmcv
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
./nlg-eval-temp
nltk
nose
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
omegaconf
opencv-python
opt-einsum
ordereddict
overrides
packaging
pandas
pandocfilters
parso
pathlib
pathtools
peft
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
portalocker
prometheus_client
promise
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyasn1
pyasn1_modules
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyWavelets
PyYAML
pyzmq
referencing
reFILE
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
rsa
sacrebleu
safetensors
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
shortuuid
six
smart-open
smmap
sniffio
soupsieve
stack-data
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
textaugment
textblob
Theano
threadpoolctl
tifffile
timm
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
types-python-dateutil
typing_extensions
uri-template
urllib3
vidaug @ git+https://github.com/okankop/vidaug@1c1ddf2640fe4a9171267d64ae5e3bd70c24d54a
wandb
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
xdg
zipp
